*{
    margin: 0;
    box-sizing: border-box;
}

div, section {
    width: 100px;
    height: 100px;
    margin: 20% auto;

    border: 20px solid red;
    border-top: 20px double greenyellow;
    border-bottom: none;

    outline: yellow solid 10px;
}